USE [master]
GO
/****** Object:  Database [J2SP0204]    Script Date: 10/5/2021 10:18:08 AM ******/
CREATE DATABASE [J2SP0204]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'J2SP0204', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\J2SP0204.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'J2SP0204_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\J2SP0204_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [J2SP0204].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [J2SP0204]
GO
/****** Object:  Table [dbo].[Worker]    Script Date: 10/5/2021 10:18:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worker](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[gender] [bit] NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[image] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Worker] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Worker] ON 

INSERT [dbo].[Worker] ([id], [name], [gender], [role], [image]) VALUES (1, N'sa', 1, N'Admin', N'1.png')
INSERT [dbo].[Worker] ([id], [name], [gender], [role], [image]) VALUES (2, N'phuc', 1, N'Admin', N'2.jpg')
INSERT [dbo].[Worker] ([id], [name], [gender], [role], [image]) VALUES (3, N'Huy', 1, N'Admin', N'3.jpg')
SET IDENTITY_INSERT [dbo].[Worker] OFF
GO
USE [master]
GO
